################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/GPLT/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/GPLT/v17
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
